---
layout: default
permalink: /
---
 {% comment %} Liquid Syntax Comment  {% endcomment %}
 {% comment %} {% endcomment %}

 {% include hero.html %}

 {% comment %} {% include about.html %}    {% endcomment %}

 {% include statistic.html %}

 {% include latest-news.html %}
 
 {% comment %} {% include rockstar-speakers.html %}    {% endcomment %}

 {% include location-map.html %}

 {% include venue.html %}
 
 {% comment %}  {% include twitter-feed.html %}    {% endcomment %}   

 {% include partners.html %} 

 {% comment %}  {% include subscribe.html %}       {% endcomment %}   

 {% comment %}  {% include tickets.html %}         {% endcomment %}   
   
 {% comment %}  {% include tickets-2.html %}       {% endcomment %}  
