<section id="timeline" class="schedule">

	<div class="content-wrapper">
	

        <div class="schedule-table col-lg-8 col-md-10 col-md-offset-1">
            <h4 class="schedule-table-heading">Important Dates</h4>
			<div class="timeslot">
				<div class="track-header-label">Jan 15th</div>
				<div class="timeslot-elements flexbox-wrapper">
					<div class="slot col-md-6 col-xs-12 flexbox-item-height">
						<div class="slot-content">
							<h5 class="slot-title" itemprop="name">Call for Submissions Deadline</h5>
						</div>
					</div>
				</div>
			
			</div>
			
			<div class="timeslot">
				<div class="track-header-label">Feb 1st</div>
				<div class="timeslot-elements flexbox-wrapper">
					<div class="slot col-md-6 col-xs-12 flexbox-item-height">
						<div class="slot-content">
							<h5 class="slot-title" itemprop="name">Early-Bird Ticket Discount Ends</h5>
						</div>
					</div>
				</div>
			
			</div>
			
			<div class="timeslot">
				<div class="track-header-label">Feb 17th</div>
				<div class="timeslot-elements flexbox-wrapper">
					<div class="slot col-md-6 col-xs-12 flexbox-item-height">
						<div class="slot-content">
							<h5 class="slot-title" itemprop="name">Submission Acceptance Notifications</h5>
						</div>
					</div>
				</div>
			
			</div>
			
			<div class="timeslot">
				<div class="track-header-label">Mar 3rd</div>
				<div class="timeslot-elements flexbox-wrapper">
					<div class="slot col-md-6 col-xs-12 flexbox-item-height">
						<div class="slot-content">
							<h5 class="slot-title" itemprop="name">Full Program Announcement</h5>
						</div>
					</div>
				</div>			
			</div>           
		</div>
	</div>
</section>

