<!-- Begin Topics Section -->
<section id="topics" class="latest-news">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>{{ site.topicsTitle }}</h3>
			<article class="row">
				<!--
				{% for topic in site.topics limit:2 %}
					<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
						<h6>{{ topic.title }}</h6>
						<p class="post-body">{{ topic.content | strip_html | truncate: 250 }}</p>
					</div>
                {% endfor %}
				-->
<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="400">
	<h6>C++ Language</h6>
	<p class="post-body">evolution, discussion, pros and cons of the latest C++ language and library features, best practices and use case studies</p>
</div>

<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="400">
	<h6>Development Process</h6>
	<p class="post-body">code analysis, Unit Testing, codebase maintenance, package management, deployment</p>
</div>

</article>
<article class="row">

<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="400">
	<h6>Useful tools and libraries</h6>
	<p class="post-body">what makes our lifes easier</p>
</div>

<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="400">
	<h6>HW and SW platforms</h6>
	<p class="post-body">Embedded, Real Time, GPU, HPC</p>
</div

</article>

<article class="row">

<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="400">
	<h6>Industry specific perspective</h6>
	<p class="post-body">mobile platforms, games, VR/AR, low-latency, machine learning, computer-vision, drones and autonomous vehicles</p>
</div>

<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="400">
	<h6>Academic Research</h6>
	<p class="post-body">teaching C++ and common pitfalls for newbies, language analysis, C++ applications in research, language analysis</p>
</div>



			</article>
		</div>
	</div>

	 <a href="https://bit.ly/cpp2019" class="btn btn-primary waves-effect waves-button waves-light waves-float">Submit Talk Proposal</a>

</section>
<!-- End Latest News Section -->
